body {
    margin: 0;
}

.header {
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #404040;
    position: sticky;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding-left: 40px;
}


.nav {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}


.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    margin-top: 5px;

    color: #fff;
    text-decoration: none;

    transition: color 0.2s linear;
}

.nav__img {
    display: inline-block;
    vertical-align: center;
    margin: 0 10px;
    margin-top: 5px;
}

.nav__link:hover {
    color: #fce38a;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: center;

}

.topnav a {
    font-family: Arial;
    display: inline-block;
    color: #E9E9E9;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.categories {
    width: 100%;
    height: 1800px;
    background-color: #f4f4f4;
    font-family: Arial;
    font-style: normal;
}

.productAndFilter {
    padding-top: 40px;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-column-gap: 5em;
    grid-template-areas:"n c";
}

.sideFilter {
    grid-area: n;
    background-color: #3d3d3d;
    height: 360px;
    width: 240px;
    border-radius: 8px;
    text-align: center;
    padding-top: 14px;
    margin-left: 40px;
}

.filterIcon {
    background-image: url("imgs/groupFilter.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: bottom;
    padding-right: 8px;
}

.filterButton {
    color: white;
    padding: 10px 10px 10px 10px;
    background-color: #5f5f5f;
    font-size: 16px;
    width: 220px;
    border-radius: 10px;
    border: none;
    text-align: left;
}

.filterVectorIcon {
    background-image: url("imgs/vectorLeft.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: bottom;
    float: right;
}

.filterSort {
    padding-top: 8px;
    text-align: left;
    padding-left: 29px;
}

.filterSort p {
    color: white;
    margin-bottom: 4px;
    font-size: 14px;
}

.filterSort button {
    background-color: white;
    border: none;
    font-size: 22px;
    padding: 6px;
    border-radius: 24px;
    width: 180px;
}

.product {
    grid-area: c;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4vw;
}

.product .productElement {
    background-color: white;
    box-shadow: 0 2px 4px #cdcdcd;
    border-radius: 20px;
    width: 320px;
    height: 260px;
    overflow: hidden;
}

.product .productElement .imgDiv {
    text-align: center;
}

.product .productElement img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    max-height: 196px;
    min-height: 196px;
}

.product .productArrow {
    background-image: url("imgs/arrowRight.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
}

.product .productLike {
    background-image: url("imgs/heart.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: bottom;
    float: right;
    padding-right: 5px;
}

.product .arrowLike {
    padding: 0 10px;
    font-size: 20px;
}

.product .madeBy {
    color: #52405c;
    float: right;
    font-size: 12px;
    padding-right: 24px;
    padding-top: 12px;
}

/*Footer*/
.section3 {
    padding-top: 15px;
    padding-bottom: 30px;
    background: #ECECEC;
    padding-left: 20px;
    padding-right: 20px;
}

.container__foot {
    width: 1300px;
    margin: auto;
}

.mainfooter {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer2 {
    padding-left: 215px;
}

.foot__header {
    display: flex;
    justify-content: space-between;
}

.foot__title {
    color: #686868;
    font-size: 20px;
    padding-top: 20px;
    margin-right: 40px;
}

.foot {

    padding-top: 5px;
}

.foot2 {
    padding-top: 5px;
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}

.foot3 {
    padding-top: 5px;
}

.foot4 {
    padding-top: 5px;
    margin-left: 190px;
}

.foot5 {
    padding-top: 5px;
    margin-left: 235px;
}


.foot__info {
    color: #939393;
    padding-top: 10px;
}

.foot__title2 {
    color: #686868;
    font-size: 20px;

}

.footeer:after {
    content: "";
    display: block;
    width: 1300px;
    height: 1px;
    margin-top: 100px;
    margin-bottom: 100px;

    background-color: #686868;
}

.foot__info2 {
    color: #686868;
    display: flex;
    justify-content: space-between;
}

.digi:before {
    content: "";
    display: block;
    width: 1300px;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;

    background-color: #686868;
}

.digi {
    color: #686868;
    font-size: 20px;
    margin-top: 20px;
}