body {
    margin: 0;
}
.categories {
    width: 100%;
    height: 1500px;
    background-color: #f4f4f4;
    font-family: Arial;
    font-style: normal;
}
.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: center;

}

.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.productAndFilter {
    padding-top: 40px;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-column-gap: 5em;
    grid-template-areas:"n c";
}
.sideFilter {
    grid-area: n;
    background-color: #3d3d3d;
    height: 360px;
    width: 240px;
    border-radius: 8px;
    text-align: center;
    padding-top: 14px;
    margin-left: 40px;
}
.filterIcon {
    background-image:url("imgs/groupFilter.png");
    background-repeat: no-repeat;
    width:22px;
    height:22px;
    display:inline-block;
    vertical-align:bottom;
    padding-right: 8px;
}
.filterButton {
    color: white;
    padding: 10px 10px 10px 10px;
    background-color: #5f5f5f;
    font-size: 16px;
    width: 220px;
    border-radius: 10px;
    border: none;
    text-align: left;
}
.filterVectorIcon {
    background-image:url("imgs/vectorLeft.png");
    background-repeat: no-repeat;
    width:22px;
    height:22px;
    display:inline-block;
    vertical-align:bottom;
    float: right;
}
.filterSort {
    padding-top: 8px;
    text-align: left;
    padding-left: 29px;
}
.filterSort p {
    color: white;
    margin-bottom: 4px;
    font-size: 14px;
}
.filterSort button {
    background-color: white;
    border: none;
    font-size: 22px;
    padding: 6px;
    border-radius: 24px;
    width: 180px;
}
.product {
    grid-area: c;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4vw;
}
.product .productElement {
    background-color: white;
    box-shadow: 0 2px 4px #cdcdcd;
    border-radius: 20px;
    width: 320px;
    height: 260px;
    overflow: hidden;
}
.product .productElement img {
    width: 320px;
}
.product .productArrow {
    background-image:url("imgs/arrowRight.png");
    background-repeat: no-repeat;
    width:22px;
    height:18px;
    display:inline-block;
    vertical-align:bottom;
    margin-left: 10px;
}
.product .productLike {
    background-image:url("imgs/heart.png");
    background-repeat: no-repeat;
    width:22px;
    height:22px;
    display:inline-block;
    vertical-align:bottom;
    float: right;
    padding-right: 5px;
}
.product .arrowLike {
    padding: 0 10px;
    font-size: 20px;
}
.product .madeBy {
    color: #52405c;
    float: right;
    font-size: 12px;
    padding-right: 24px;
    padding-top: 12px;
}