body {
    margin: 0;
}

.productOneMorning {
    font-family: Arial;
    font-style: normal;
}

.mainProduct {
    background-color: #F3F3F3;
    padding: 24px 0;
    display: grid;
    grid-template-columns: 820px 500px;
    grid-column-gap: 140px;
    padding-left: 30px;
}

.mainProduct img {
    width: 940px;
    height: 536px;
}

.mainProdInfo {
    color: #5b5b5b;
    background-color: #dbdbdb;
    height: 536px;
}

.mainProdInfo h1 {
    font-size: 48px;
}

.mainProdInfo span {
    font-size: 18px;
}

.mainProdInfoDiv {
    padding-left: 15px;
}

.mainProdInfoDiv ul {
    padding-left: 20px;
}

.mainProdInfoDiv li {
    padding: 10px 0;
    font-size: 24px;
}

.mainProdInfoButtonDiv {
    text-align: center;
}

.mainProdButton {
    margin-top: 162px;
    color: white;
    border: none;
    background: #485E46;
    border-radius: 30px;
    padding: 6px 40px;
    font-size: 48px;
}

.mainProdDescription {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prodDescription {
    margin-left: 30px;
    margin-right: 30px;
}

.mainProdDescriptionP {
    height: 696px;
    padding: 0 128px;
    background-color: #F8F8F8;
    display: inline-block;
    color: #5b5b5b;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.otherProducts {
    display: grid;
    justify-content: center;
    height: 836px;
    background-color: #F8F8F8;
}

.product {
    display: grid;
    grid-template-rows: 272px 272px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 52px;
}

.product .productElement {
    background-color: white;
    box-shadow: 0 2px 4px #cdcdcd;
    border-radius: 20px;
    width: 320px;
    height: 260px;
    overflow: hidden;
}

.product .productElement img {
    width: 320px;
}

.product .productArrow {
    background-image: url("imgs/arrowRight.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
}

.product .productLike {
    background-image: url("imgs/heart.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: bottom;
    float: right;
    padding-right: 5px;
}

.product .arrowLike {
    padding: 0 10px;
    font-size: 20px;
}

.product .madeBy {
    color: #52405c;
    float: right;
    font-size: 12px;
    padding-right: 24px;
    padding-top: 12px;
}

.sectionName {
    color: #656565;
    padding: 27px 0 27px 160px;
    background-color: #F8F8F8;
    margin-bottom: 0;
}