body {
    margin: 0;
}

.productOneMorning {
    width: 94%;
    padding: 0 50px;
    height: 1800px;
    font-family: Arial;
    font-style: normal;
    background-color: #f3f3f3;
}

.mainProduct {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1vw;
}

.mainProdInfo {
    color: #5b5b5b;
    background-color: #dbdbdb;
}

.mainProdInfo span {
    font-size: 10px;
}

.mainProdInfoDiv {
    padding-left: 15px;
}

.mainProdInfoDiv ul {
    padding-left: 20px;
}

.mainProdInfoDiv li {
    padding: 10px 0;
    font-size: 20px;
}

.mainProdInfoButtonDiv {
    text-align: center;
}

.mainProdButton {
    background-color: #485E46;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 6px 40px;
    font-size: 30px;
}

.mainProdDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mainProdDescriptionP {
    display: inline-block;
    color: #5b5b5b;
    font-size: 20px;
    width: 80%;
}

.otherProducts {
    display: grid;
    justify-content: center;
}

.product {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
}

.product .productElement {
    background-color: white;
    box-shadow: 0 2px 4px #cdcdcd;
    border-radius: 20px;
    width: 320px;
    height: 260px;
    overflow: hidden;
}

.product .productElement img {
    width: 320px;
}

.product .productArrow {
    background-image: url("imgs/arrowRight.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
}

.product .productLike {
    background-image: url("imgs/heart.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: bottom;
    float: right;
    padding-right: 5px;
}

.product .arrowLike {
    padding: 0 10px;
    font-size: 20px;
}

.product .madeBy {
    color: #52405c;
    float: right;
    font-size: 12px;
    padding-right: 24px;
    padding-top: 12px;
}

.sectionName {
    color: #656565;
}