.mainAccountInfo {
    margin: 0 160px;
    display: grid;
    grid-template-columns: 700px 294px 294px;
    font-family: Arial;
    font-style: normal;
}

.accountInfoAndImg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    margin-right: 300px;
}
.avatarImg {
    margin-top: 15px;
}

.accountInfo {
    letter-spacing: 0.05em;
    text-align: center;
    color: #333334;
}

.accountInfo p:nth-child(1) {
    margin-bottom: 0;
    font-size: 36px;
    line-height: 49px;
}
.accountInfo p:nth-child(2),p:nth-child(3) {
    margin: 0;
    font-size: 24px;
    line-height: 33px;
}

.moneyMadeMoney {
    height: 122px;
    text-align: center;
    background-color: #485D46;
    color: white;
    border-radius: 15px;
}

.moneyMadeMoney p {
    font-weight: 500;
    letter-spacing: 0.05em;
}

.moneyMadeMoney p:nth-child(1) {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
}

.moneyMadeMoney p:nth-child(2) {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 48px;
    line-height: 66px;
}

.moneyMadeWithdraw {
    margin: 0;
    padding: 0;
}

.moneyMadeWithdraw span {
    color: #CBCBCB;
}

.moneyMadeWithdraw button {
    float: right;
    font-size: 13px;
    line-height: 18px;
    color: #5F5F5F;
    border: none;
    background-color: white;
}

.yourBalance {
    margin-top: 21px;
    text-align: center;
    height: 122px;
    background-color: #DBDBDB;
    color: black;
    border-radius: 15px;
}

.yourBalance p {
    font-weight: 500;
    letter-spacing: 0.05em;
}

.yourBalanceButtonSpan {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #B3B3B3;
    border-radius: 60px;
    text-align: center;
    vertical-align: center;
}

.yourBalance button {
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: white;
    border: none;
    background: none;
}

.yourBalance p:nth-child(1) {
    margin-top: 0;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
}

.yourBalance p:nth-child(2) {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 48px;
    line-height: 66px;
}