body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    width: 100%;
}

.paymentPageMainDiv {
    width: 1277px;
    margin: auto;
    padding-bottom: 90px;
}

.paymentField {
    margin: auto;
    width: 1277px;
    height: 613px;
    background-color: #F6F6F6;
    margin-top: 95px;
    margin-bottom: 35px;
    padding-bottom: 35px;
    padding-top: 16px;
}

.paymentField input {
    padding-left: 22px;
}

.paymentFieldInnerDiv {
    margin-top: 16px;
    margin-left: 36px;
}

.paymentP1 {
    font-size: 48px;
    line-height: 66px;
    color: #333334;
    margin: 0;
}

.paymentP2 {
    margin-top: 42px;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #333334;
}

.nameSurnameCard {
    width: 1020px;
    height: 66px;
    background: #FFFFFF;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
}

.nameSurnameCard::placeholder {
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #AEAEAE;
}

.cardNumber {
    margin-top: 42px;
    width: 620px;
    height: 66px;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    outline: none;
    border: none;
}

.cardNumber::placeholder {
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #AEAEAE;
}

.monthCard {
    margin-left: 48px;
    margin-right: 39px;
}

.monthCard,.yearCard {
    width: 130px;
    height: 66px;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    outline: none;
    border: none;
}

.monthCard::placeholder,.yearCard::placeholder {
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #AEAEAE;
}

.CVC {
    margin-top: 42px;
    width: 180px;
    height: 66px;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    border: none;
    outline: none;
}

.CVC::placeholder {
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #AEAEAE;
}

.cardDateSpan {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #B4B4B4;
    position: relative;
    left: 560px;
    top: -170px;
}

.errorP {
    margin: 0;
    padding: 0;
    margin-top: 61px;
    display: inline-block;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #BA1818;
}

.continueButton {
    width: 317px;
    height: 67px;
    background: #C9C9C9;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #000000;
    border: none;
    margin-left: 320px;
    text-align: center;
    margin-bottom: 31px;
}

.paymentPageMainDiv .plus {
    display: inline-block;
    position: relative;
    width: 113px;
    height: 113px;
    background: #F6F6F6;
    border-radius: 60px;
}

.plus:before,
.plus:after {
    content: "";
    position: absolute;
    background: #000000;
}

.plus:before {
    left: 50%;
    top: 36px;
    bottom: 36px;
    width: 5px;
    transform: translateX(-50%);
}

.plus:after {
    top: 50%;
    left: 36px;
    right: 36px;
    height: 5px;
    transform: translateY(-50%);
}

.text {
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-left: 30px;
    position: relative;
    top: -46px;
}