body {
    margin: 0;
    font-family: Arial;
    font-style: normal;
}

.mainDiv {
    height: 915px;
    background-color: #232323;
    padding: 37px 140px 122px 120px;
}

.menuDiv {
    height: 756px;
    width: 1284px;
    background-color: #565656;
}

.menuDivP {
    padding-top: 27px;
    margin-left: 36px;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
}

.menuDivFlexBox {
    display: flex;
    grid-template-columns: 1fr 1fr;
    column-gap: 96px;
    margin-left: 36px;
    width: 632px;
}

.menuDivSelectDiv select {
    font-size: 20px;
    line-height: 27px;
    padding: 20px 30px 20px 30px;
    width: 477px;
    height: 67px;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 15px;
    outline: none;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:url("./img/vector.png");
    background-position: calc(419px) calc(27px);
    background-repeat: no-repeat;
}

.menuDivInputDiv input {
    margin: 26px 0;
    font-size: 20px;
    line-height: 27px;
    padding: 20px 0 20px 30px;
    width: 477px;
    height: 67px;
    background-color: #FFFFFF !important;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 15px;
    outline: none;
}

.menuDivPriceDiv input {
    width: 212px;
    height: 67px;
    border: none;
    background: #91A794;
    border-radius: 15px;
    font-size: 20px;
    line-height: 27px;
    outline: none;
    text-align: center;
}

.menuDivPriceDiv input:nth-child(1) {
    margin-right: 40px;
}

.underSpanPrice {
    margin-left: 275px;
    font-size: 12px;
    line-height: 16px;
    color: #9E9E9E;
}

.menuDivPriceDiv {
    margin: 52px 0 0 0;
}

.menuDivUploadDiv {
    margin-top: -35px;
}

.menuDivUploadDiv input {
    border: none;
    width: 477px;
    height: 84px;
    background: #C4C4C4;
    border-radius: 15px;
    font-size: 36px;
    line-height: 49px;
    color: #686868;
}

.menuDivUploadDiv .plus {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 60px;
    top: 66px;
    left: 35px;
}

.menuDivUploadDiv .plus:before,
.menuDivUploadDiv .plus:after {
    content: "";
    position: absolute;
    background: #686868;
}

.menuDivUploadDiv .plus:before {
    left: 50%;
    top: 2px;
    bottom: 2px;
    width: 4px;
    transform: translateX(-50%);
}

.menuDivUploadDiv .plus:after {
    top: 50%;
    left: 2px;
    right: 2px;
    height: 4px;
    transform: translateY(-50%);
}

.underSpanUpload {
    font-size: 24px;
    line-height: 33px;
    color: #A6A6A6;
    margin-left: 14px;
}

.saveButtonDiv {
    text-align: center;
    margin-top: 32px;
}

.saveButtonDiv input {
    width: 195px;
    height: 67px;
    border: none;
    background: #73A37B;
    border-radius: 15px;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}