body {
    margin: 0;
    font-family: Manrope;
    font-style: normal;
}

.letter {
    color: #039400;
}

.container {
    width: 1300px;
    margin: auto;
}

.header {
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #404040;
    position: sticky;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}


.nav {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}


.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    margin-top: 5px;

    color: #fff;
    text-decoration: none;

    transition: color 0.2s linear;
}

.nav__img {
    display: inline-block;
    vertical-align: center;
    margin: 0 10px;
    margin-top: 5px;
}

.nav__link:hover {
    color: #fce38a;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: center;

}

.topnav a {
    display: inline-block;
    color: #E9E9E9;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.mainDiv {
    height: 915px;
    background-color: #232323;
    padding-top: 37px;
    padding-bottom: 122px;
}

.menuDiv {
    margin: auto;
    height: 756px;
    width: 1284px;
    background-color: #565656;
}

.menuDivP {
    padding-top: 27px;
    margin-left: 36px;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
}

.menuDivFlexBox {
    display: flex;
    grid-template-columns: 1fr 1fr;
    column-gap: 96px;
    margin-left: 36px;
    width: 632px;
}

.menuDivSelectDiv select {
    font-size: 20px;
    line-height: 27px;
    padding: 20px 30px 20px 30px;
    width: 477px;
    height: 67px;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 15px;
    outline: none;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("./img/vector.png");
    background-position: calc(419px) calc(27px);
    background-repeat: no-repeat;
}

.menuDivInputDiv input {
    margin: 26px 0;
    font-size: 20px;
    line-height: 27px;
    padding: 20px 0 20px 30px;
    width: 477px;
    height: 67px;
    background-color: #FFFFFF !important;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 15px;
    outline: none;
}

.menuDivPriceDiv input {
    width: 212px;
    height: 67px;
    border: none;
    background: #91A794;
    border-radius: 15px;
    font-size: 20px;
    line-height: 27px;
    outline: none;
    text-align: center;
}

.menuDivPriceDiv input:nth-child(1) {
    margin-right: 40px;
}

.underSpanPrice {
    margin-left: 275px;
    font-size: 12px;
    line-height: 16px;
    color: #9E9E9E;
}

.menuDivPriceDiv {
    margin: 52px 0 0 0;
}

.menuDivUploadDiv {
    margin-top: -35px;
}

.menuDivUploadDiv input {
    border: none;
    width: 477px;
    height: 84px;
    background: #C4C4C4;
    border-radius: 15px;
    font-size: 36px;
    line-height: 49px;
    color: #686868;
}

.menuDivUploadDiv .plus {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 60px;
    top: 66px;
    left: 35px;
}

.menuDivUploadDiv .plus:before,
.menuDivUploadDiv .plus:after {
    content: "";
    position: absolute;
    background: #686868;
}

.menuDivUploadDiv .plus:before {
    left: 50%;
    top: 2px;
    bottom: 2px;
    width: 4px;
    transform: translateX(-50%);
}

.menuDivUploadDiv .plus:after {
    top: 50%;
    left: 2px;
    right: 2px;
    height: 4px;
    transform: translateY(-50%);
}

.underSpanUpload {
    font-size: 24px;
    line-height: 33px;
    color: #A6A6A6;
    margin-left: 14px;
}

.enterTitleDiv textarea {
    resize: none;
    width: 559px;
    height: 54px;
    outline: none;
    border: none;
    border-bottom: 2px solid #D0D0D0;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.05em;
    padding-left: 30px;
    padding-top: 13px;
    display: block;
}

.enterTitleDiv textarea::placeholder {
    color: #A5A5A5;
}

.enterDescriptionDiv textarea {
    display: block;
    resize: none;
    width: 559px;
    height: 338px;
    outline: none;
    border: none;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    padding-left: 30px;
    padding-top: 13px;
}

.enterDescriptionDiv textarea::placeholder {
    vertical-align: text-top;
    color: #A5A5A5;
}

.addPhotoDiv input {
    width: 591px;
    height: 56px;
    font-size: 24px;
    line-height: 33px;
    border: none;
    color: #A5A5A5;
    background: white;
    text-align: right;
    padding-right: 17px;
    padding-bottom: 26px;
}

.addPhotoDiv .plus {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 60px;
    top: -53px;
    left: 357px;
}

.addPhotoDiv .plus:before,
.addPhotoDiv .plus:after {
    content: "";
    position: absolute;
    background: #A5A5A5;
}

.addPhotoDiv .plus:before {
    left: 50%;
    top: 2px;
    bottom: 2px;
    width: 4px;
    transform: translateX(-50%);
}

.addPhotoDiv .plus:after {
    top: 50%;
    left: 2px;
    right: 2px;
    height: 4px;
    transform: translateY(-50%);
}

.saveButtonDiv {
    text-align: center;
    margin-top: 15px;
}

.saveButtonDiv input {
    width: 195px;
    height: 67px;
    border: none;
    background: #73A37B;
    border-radius: 15px;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

/*Footer*/
.section3 {
    padding-top: 15px;
    padding-bottom: 30px;
    background: #ECECEC;
    padding-left: 20px;
    padding-right: 20px;
}

.container__foot {
    width: 1300px;
    margin: auto;
}

.mainfooter {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer2 {
    padding-left: 200px;
}

.foot__header {
    display: flex;
    justify-content: space-between;
}

.foot__title {
    color: #686868;
    font-size: 20px;
    padding-top: 20px;
    margin-right: 40px;
}

.foot {

    padding-top: 5px;
}

.foot2 {
    padding-top: 5px;
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}

.foot3 {
    padding-top: 5px;
}

.foot4 {
    padding-top: 5px;
    margin-left: 155px;
}

.foot5 {
    padding-top: 5px;
    margin-left: 220px;
}


.foot__info {
    color: #939393;
    padding-top: 10px;
}

.foot__title2 {
    color: #686868;
    font-size: 20px;

}

.footeer:after {
    content: "";
    display: block;
    width: 1300px;
    height: 1px;
    margin-top: 100px;
    margin-bottom: 100px;

    background-color: #686868;
}

.foot__info2 {
    color: #686868;
    display: flex;
    justify-content: space-between;
}

.digi:before {
    content: "";
    display: block;
    width: 1300px;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;

    background-color: #686868;
}

.digi {
    color: #686868;
    font-size: 20px;
    margin-top: 20px;
}