@import url("https://fonts.googleapis.com/css?  family=Montserrat:600&display=swap");

.table {
    border: 2px solid black;
}

#up {
    position: fixed;
    left: 94%;
    top: 94%;
}

html {
    height: 8000px;
}

body {
    margin: 0;
    padding: 0;

}

.row {
    text-align: center;
    margin-top: -100px;
}

.login-box {
    font-family: sans-serif;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #3c2178;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #000;
}

.login-box img {
    width: 120px;
    height: 120px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #0e153a;
    font-size: 12px;
}

.myClass {
    position: relative;
    display: inline-flex;
    width: 120px;
    height: 45px;
}

.myClass .formButton {
    content: "КНОПКА";
    color: #fff;
    background: #000;
    height: 45px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;

    font-size: 12px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
}

.myClass .formButton:before,
.myClass .formButton:after {
    height: 45px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
}

.myClass .formButton:after {
    position: absolute;
    content: "ВОЙТИ";
    font-weight: bold;
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
    border: 2px solid white;
    background: #fff;
}

.myClass .formButton:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


/*reg-box*/

.reg-box {
    font-family: sans-serif;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #3c2178;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #000;
}

.reg-box img {
    width: 120px;
    height: 120px;
}

.reg-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}

.reg-box .user-box {
    position: relative;
}

.reg-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.reg-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.reg-box .user-box input:focus ~ label,
.reg-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #0e153a;
    font-size: 12px;
}